models/*.model
models/*.dat
Test_Data/vid1
Test_Data/vid2
Test_Data/vid3
Test_Data/vid4
.vscode
*.o
.vs
*.db
*.opendb
Release
Debug
Windows/Compiled/x86/models/*.model
Windows/Compiled/x86/models/*.dat
Windows/Compiled/x64/models/*.model
Windows/Compiled/x64/models/*.dat
*.iobj
*.ipdb
*.pdb
*.ilk
*.exp
*.lib
.idea
*.pyc
Head_Pose_alt.csv
faceReID_matlab
t
.ipynb_checkpoints
.idea
models/*.h5
keras-vggface
Source
Test_Data
